@page "/gxlogin"

@using CxShared.Auth
@using CxClie.Services
@using CxShared.Models
@using CxShared.Others

@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager Nav
@inject IFrontendLoginService LoginService

<h3>Login</h3>

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

<EditForm Model="@loginModel" OnValidSubmit="@HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="username">Username</label>
        <InputText id="username" class="form-control" @bind-Value="loginModel.UsernameOrEmail" />
    </div>

    <div class="mb-3">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    [Parameter]
    public Gxdom _inGxdom { get; set; }
    [Parameter]
    public TableSet _inCatal { get; set; }
    [Parameter]
    public int _inIdagt { get; set; }

    private LoginModel loginModel = new();
    private bool isBusy = false;
    private string? Error;

    private string ErrorMessage = "";

    private Gxdom _curGxdom = new();
    private HttpClient _gxClient;

    private async Task HandleLogin()
    {
        Error = null;
        isBusy = true;
        var result = await LoginService.LoginAsync("GxApi", loginModel);
        isBusy = false;
        if (result == null)
        {
            Error = "Login failed. Check credentials.";
            return;
        }
        else
        {
            Console.WriteLine($"LOGIN TO CLIENT SUCCEEDED : {result}");
        }
        // success
        Nav.NavigateTo("/");
    }
    
}