<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CxClie</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="homesetup">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Nous...
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ordercreate">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Commande
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="ToggleSubManag">
                <Icon Name="IconName.PlusSquareFill" Size="IconSize.x5" Color="IconColor.White" /> &nbsp; --> Tests
            </NavLink>
            @if (isSubManagVisible)
            {
                <nav class="nav flex-column">
                    <div class="nav-item px-3 py-0">
                        <NavLink class="nav-link" href="custregister">
                            <Icon Name="IconName.CaretRightSquare" /> &nbsp; Clie_Register
                        </NavLink>
                    </div>
                    <div class="nav-item px-3 py-0">
                        <NavLink class="nav-link" href="orgsetup">
                            <Icon Name="IconName.CaretRightSquare" /> &nbsp; Clie_Creorga
                        </NavLink>
                    </div>
                    <div class="nav-item px-3 py-0">
                        <NavLink class="nav-link" href="orderflow">
                            <Icon Name="IconName.CaretRightSquare" /> &nbsp; Clie_OrdFlow
                        </NavLink>
                    </div>
                 </nav>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="????">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Support
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isSubManagVisible = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void ToggleSubManag()
    {
        isSubManagVisible = !isSubManagVisible;
    }
}
