@using CxClie.Services

@inject AppState _appState
@inject NavigationManager _navManager
@inject IFrontendLoginService _loginService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CxClie</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="homesetup">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Gx-Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="ToggleSubClient">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Clients
            @* <Icon Name="IconName.PlusSquareFill" Size="IconSize.x5" Color="IconColor.White" /> &nbsp; Clients *@
        </NavLink>
            @if (isSubClientVisible)
            {
            <nav class="nav flex-column">
                @* @if (_appState.IsAuthenticated("GxApi"))
                { *@
                        <NavLink class="nav-link nav-sub" href="ordermanage">
                            <Icon Name="IconName.CaretRightSquare" /> &nbsp; Commandes
                        </NavLink>
                        @if (_appState.IsAuthenticated("CustApi"))
                        {
                            <NavLink class="nav-link nav-sub" href="clieaccess?orig=3">
                                <Icon Name="IconName.CaretRightSquare" /> &nbsp; Install
                            </NavLink>
                            <NavLink class="nav-link nav-sub" @onclick="()=> CustLogout()">
                                <Icon Name="IconName.CaretRightSquare" /> &nbsp; Logout
                            </NavLink>
                        }
                        @* } else
                        { *@
                            <NavLink class="nav-link nav-sub" href="clieaccess?orig=1">
                                <Icon Name="IconName.CaretRightSquare" /> &nbsp; Login
                            </NavLink>
                            <NavLink class="nav-link nav-sub" href="clieaccess?orig=2">
                                <Icon Name="IconName.CaretRightSquare" /> &nbsp; Register
                            </NavLink>
                        @* } *@
               @*  } *@
            </nav>
        }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orgadelete">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Suppression
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="????">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Support
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3 fw-bold text-bg-light">
            <span>VerifValue : @authValue</span>
        </div>
    </nav>
    <button type="button" @onclick="GetAuthen">VerifAuthentication</button>
     
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isSubManagVisible = false;
    private bool isSubClientVisible = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string authValue="";
    protected override void OnParametersSet()
    {
        bool siauth = _appState.IsAuthenticated("CustApi");
        Console.WriteLine($"NavMenu OnParametersSet - CustApi Authenticated: {siauth}");
        authValue = "vide";
        if (siauth) authValue = "estbon";
    }
    private void GetAuthen()
    {
        bool siauth = _appState.IsAuthenticated("CustApi");
        authValue = "vide";
        if (siauth) authValue = "estbon";
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void ToggleSubManag()
    {
        isSubManagVisible = !isSubManagVisible;
    }
    private void ToggleSubClient()
    {
        isSubClientVisible = !isSubClientVisible;
    }
    private void CustLogout()
    {
        _loginService.CustLogout();
        _navManager.NavigateTo("/");
    }
}
